name: Esteira CI/CD

on:
  workflow_dispatch:

jobs:
  analyse:
    name: An치lise de c칩digo
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write
      issues: write

    strategy:
      fail-fast: false
      matrix:
        branch: [ "main", "teste" ]
        language: [ "java" ]

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}

      - name: Configurar JDK (Java 21)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Criar pasta para os relat칩rios com permiss칚o aberta
        run: |
          mkdir -p reports/${{ matrix.branch }}
          chmod -R 777 reports/${{ matrix.branch }}

#      - name: Inicializar CodeQL
#        uses: github/codeql-action/init@v4
#        with:
#          languages: ${{ matrix.language }}
#          queries: security-extended,security-and-quality

      - name: Compilar o projeto
        run: mvn compile -DskipTests

#      - name: Executar an치lise de CodeQL
#        uses: github/codeql-action/analyze@v4
#        with:
#          output: reports/${{ matrix.branch }}
#          category: "/language:${{ matrix.language }}"
#
#      - name: Renomear arquivo SARIF
#        run: |
#          ORIGINAL="reports/${{ matrix.branch }}/${{ matrix.language }}.sarif"
#          NOVO="reports/${{ matrix.branch }}/codeql-results.sarif"
#          mv "$ORIGINAL" "$NOVO"
#
#      - name: Run CLOC
#        uses: djdefi/cloc-action@6
#        with:
#          options: --exclude-lang=YAML --md --report-file=cloc.md
#
#      - name: Mover CLOC report
#        run: mv cloc.md reports/${{ matrix.branch }}/cloc.md
#
#      - name: Run Checkstyle (Maven)
#        run: mvn checkstyle:checkstyle
#
#      - name: Mover Checkstyle report
#        run: mv target/checkstyle-result.xml reports/${{ matrix.branch }}/checkstyle-result.xml
#
#      - name: Run SpotBugs
#        run: mvn spotbugs:spotbugs
#
#      - name: Mover SpotBugs report
#        run: |
#          mv target/spotbugsXml.xml reports/${{ matrix.branch }}/spotbugs.xml
#          mv target/site/spotbugs.html reports/${{ matrix.branch }}/spotbugs.html

      - name: Iniciar aplica칞칚o para an치lise DAST
        run: |
          mvn spring-boot:run &
          sleep 30

      - name: Rodar An치lise DAST com OWASP ZAP
        uses: zaproxy/action-full-scan@v0.13.0
        with:
          target: 'http://localhost:8080'
          cmd_options: '-a -m 10 -T 60 -r reports/${{ matrix.branch }}/zap-report.html'

      - name: Parar aplica칞칚o
        if: always()
        run: pkill -f 'spring-boot:run' || true

      - name: Upload dos relat칩rios
        uses: actions/upload-artifact@v4
        with:
          name: "reports-${{ matrix.branch }}"
          path: reports/${{ matrix.branch }}

  build:
    needs: analyse
    environment: cov
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Configurar JDK (Java 21)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compilar com Maven
        run: |
          mvn clean compile -B || { 
            echo "::error::Falha na compila칞칚o do projeto. Verifique erros de sintaxe ou depend칡ncias ausentes."; 
            exit 1; 
          }

      - name: Executar testes
        run: |
          mvn test -Dgroups=!Selenium -B || {
            echo "::error::Alguns testes falharam. Revise os logs para detalhes.";
            exit 1;
          }

      - name: Upload relat칩rio de cobertura
        uses: actions/upload-artifact@v4
        with:
          name: cobertura
          path: target/site/jacoco

      - name: Empacotar aplica칞칚o
        run: |
          echo "Empacotando aplica칞칚o"
          mvn package -Dgroups=!Selenium -B || {
            echo "::error::Falha ao empacotar o projeto. Verifique se os testes e build est칚o corretos.";
            exit 1;
          }

      - name: Upload artefato (.jar)
        uses: actions/upload-artifact@v4
        with:
          name: Rodrigo_Loureiro_PB_TP4
          path: target/*.jar

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: target/site/jacoco/jacoco.xml

  deploy:
    name: Simula칞칚o de Deploy
    runs-on: ubuntu-latest
    needs:
      - analyse
      - build

    steps:
      - name: Baixar artefato do build
        uses: actions/download-artifact@v4
        with:
          name: Rodrigo_Loureiro_PB_TP4
          path: ./deploy

      - name: Simular processo de deploy
        run: echo "游 Iniciando simula칞칚o de deploy"

      - name: Finalizar deploy
        run: echo "Deploy finalizado"