name: Esteira CI/CD

on:
  push:
  workflow_dispatch:

jobs:
  analyse:
    name: An치lise de c칩digo
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        branch: [ "main", "teste" ]
        language: [ "java" ]

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}

      - name: Configurar JDK (Java 21)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Inicializar CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          queries: security-extended,security-and-quality

      - name: Compilar o projeto
        run: mvn compile -DskipTests

      - name: Executar an치lise de CodeQL
        uses: github/codeql-action/analyze@v4
        with:
          output: codeql-results.sarif
          category: "/language:${{ matrix.language }}"

      - name: Salvar arquivo SARIF como artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.branch }}_codeql-results"
          path: codeql-results.sarif

      - name: Run CLOC
        uses: djdefi/cloc-action@6
        with:
          options: --exclude-lang=YAML --md --report-file=cloc.md

      - name: Upload CLOC report
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.branch }}_cloc-report"
          path: cloc.md

      - name: Run Checkstyle (Maven)
        run: mvn checkstyle:checkstyle

      - name: Upload Checkstyle report
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.branch }}_checkstyle-report"
          path: target/checkstyle-result.xml

      - name: Run SpotBugs
        run: mvn spotbugs:spotbugs

      - name: Upload SpotBugs report
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.branch }}_spotbugs-report"
          path: |
            target/spotbugsXml.xml
            target/site/spotbugs.html

  build:
    needs: analyse
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do c칩digo
        uses: actions/checkout@v4

      - name: Configurar JDK (Java 21)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Compilar com Maven
        run: |
          mvn clean compile -B || { 
            echo "::error::Falha na compila칞칚o do projeto. Verifique erros de sintaxe ou depend칡ncias ausentes."; 
            exit 1; 
          }

      - name: Executar testes
        run: |
          mvn test -Dgroups=!Selenium -B || {
            echo "::error::Alguns testes falharam. Revise os logs para detalhes.";
            exit 1;
          }

      - name: Gerar relat칩rio de cobertura
        run: mvn jacoco:report

      - name: Upload relat칩rio de cobertura
        uses: actions/upload-artifact@v4
        with:
          name: cobertura
          path: target/site/jacoco

      - name: Empacotar aplica칞칚o
        run: |
          echo "Empacotando aplica칞칚o"
          mvn package -Dgroups=!Selenium -B || {
            echo "::error::Falha ao empacotar o projeto. Verifique se os testes e build est칚o corretos.";
            exit 1;
          }

      - name: Upload artefato (.jar)
        uses: actions/upload-artifact@v4
        with:
          name: Rodrigo_Loureiro_PB_TP4
          path: target/*.jar

  deploy:
    name: Simula칞칚o de Deploy
    runs-on: ubuntu-latest
    needs:
      - analyse
      - build

    steps:
      - name: Baixar artefato do build
        uses: actions/download-artifact@v4
        with:
          name: Rodrigo_Loureiro_PB_TP4
          path: ./deploy

      - name: Simular processo de deploy
        run: echo "游 Iniciando simula칞칚o de deploy"

      - name: Finalizar deploy
        run: echo "Deploy finalizado"